@typeparam T

<EditForm Model="@Model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <AutoFields HideCollections="@this.HideCollections"/>

    <ValidationSummary />
    <div>
        <button type="submit" class="primary-button">Lưu</button>
        @if (this.OnCancel != null)
        {
            <button type="button" onClick=@this.OnCancel>Hủy</button>
        }
    </div>
</EditForm>

@code {

    /// <summary>
    /// Lấy hoặc thiết lập mô hình của biểu mẫu, <see cref="EditForm.Model"/>.
    /// </summary>
    [Parameter]
    public T Model { get; set; } = default!;

    /// <summary>
    /// Lấy hoặc thiết lập giá trị cho biết có ẩn các bộ sưu tập hay không.
    /// </summary>
    [Parameter]
    public bool HideCollections { get; set; }

    /// <summary>
    /// Lấy hoặc thiết lập callback sự kiện <see cref="EditForm.OnValidSubmit"/>.
    /// </summary>
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    /// <summary>
    /// Lấy hoặc thiết lập tác vụ sẽ được thực hiện khi nút hủy được nhấn. Nếu null, sẽ không hiển thị nút hủy.
    /// </summary>
    [Parameter]
    public EventCallback? OnCancel { get; set; }
}
