@using System.ComponentModel.DataAnnotations
@using System.Diagnostics.CodeAnalysis
@inherits NotifyableInputBase<DateOnly>

    <div>
        <FieldLabel Text="@Label" ValueExpression="@this.ValueExpression" />
        <input type="date" @bind="CurrentValue" id="@this.FieldIdentifier.FieldName" class="@CssClass" />
        <ValidationMessage For=@this.ValueExpression />
    </div>

@code {

    /// <summary>
    /// Lấy hoặc thiết lập nhãn sẽ được hiển thị. Nếu không được cung cấp rõ ràng, thành phần sẽ hiển thị
    /// Tên được định nghĩa trong <see cref="DisplayAttribute"/>. Nếu không có Tên trong <see cref="DisplayAttribute"/>, nó sẽ hiển thị tên thuộc tính thay vào đó.
    /// </summary>
    [Parameter]
    public string? Label { get; set; }

    /// <inheritdoc />
    protected override bool TryParseValueFromString(string? value, [MaybeNullWhen(false)] out DateOnly result, [NotNullWhen(false)] out string? validationErrorMessage)
    {
        if (DateOnly.TryParse(value, out result))
        {
            validationErrorMessage = null;
            return true;
        }

        validationErrorMessage = "Sai định dạng";
        return false;
    }
}
