@page "/error"


<h1 class="text-danger">Lỗi.</h1>
<h2 class="text-danger">Đã xảy ra lỗi trong quá trình xử lý yêu cầu của bạn.</h2>

<h3>Chế độ Phát triển</h3>
<p>
    Chuyển sang môi trường <strong>Phát triển</strong> sẽ hiển thị thông tin chi tiết hơn về lỗi đã xảy ra.
</p>
<p>
    <strong>Môi trường Phát triển không nên được kích hoạt cho các ứng dụng đã triển khai.</strong>
    Điều này có thể dẫn đến việc hiển thị thông tin nhạy cảm từ các ngoại lệ cho người dùng cuối.
    Để gỡ lỗi cục bộ, hãy kích hoạt môi trường <strong>Development</strong> bằng cách thiết lập biến môi trường <strong>ASPNETCORE_ENVIRONMENT</strong> thành <strong>Development</strong>
    và khởi động lại ứng dụng.
</p>