@page "/logged-in"
@using MUnique.OpenMU.Web.AdminPanel.Services

@inject LoggedInAccountService AccountService;

<h1>Tài Khoản Trực Tuyến</h1>

<div>
  <DataTable TItem=@LoggedInAccount>
    <TableHeader>
      <th class="col-1">Tên Đăng Nhập</th>
      <th class="col-1">ID Máy Chủ</th>
      <th class="col-1">Hành Động</th>
    </TableHeader>
    <ItemTemplate Context="item">
      <td>@item.LoginName</td>
      <td>@item.Server</td>
      <td>
        <button class="btn btn-warning" type="button" @onclick="() => this.AccountService.SetAccountOfflineAsync(item)">
          <span class="oi oi-bolt" aria-hidden="true" /> Ngắt Kết Nối
        </button>
      </td>
    </ItemTemplate>
  </DataTable>
</div>
