@page "/gameServer/{gameServerId:int}/map/{mapId:guid}"
@implements IDisposable

@using MUnique.OpenMU.Web.Map.Components
@using MUnique.OpenMU.Web.Map
@using MUnique.OpenMU.Interfaces
@using MUnique.OpenMU.GameLogic

@if (this._gameServer is not null)
{
    <div>
        <NavLink href="" Match="NavLinkMatch.All">
            <span>Tất cả</span>
        </NavLink>
        <span> / @this._map?.MapName</span>
    </div>

    <CascadingValue Value="@_gameServer">
        <Map Server="@_gameServer" MapId="@MapId"></Map>
    </CascadingValue>
}

@code {
    internal const string LiveMapRoute = "map/";

    private IGameMapInfo? _map;

    private IObservableGameServer? _gameServer;

    /// <summary>
    /// Lấy hoặc thiết lập id của máy chủ mà bản đồ được lưu trữ.
    /// </summary>
    [Inject]
    public IList<IManageableServer> Servers { get; set; } = null!;

    /// <summary>
    /// Lấy hoặc thiết lập id của bản đồ.
    /// </summary>
    [Parameter]
    public Guid MapId { get; set; }

    /// <summary>
    /// Lấy hoặc thiết lập id/index của máy chủ trò chơi.
    /// </summary>
    [Parameter]
    public int GameServerId { get; set; }

    /// <inheritdoc />
    public void Dispose()
    {
        (this._gameServer as IDisposable)?.Dispose();
    }

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        var gameServer = this.Servers.OfType<IGameServer>().First(gs => gs.Id == this.GameServerId);
        var context = (gameServer as IGameServerContextProvider)?.Context ?? throw new InvalidOperationException("Trang bản đồ này chỉ hoạt động trong một All-In-One deployment.");
        var adapter = new ObservableGameServerAdapter(context);
        await adapter.InitializeAsync();

        this._gameServer = adapter;
        this._map = this._gameServer.Maps.First(m => m.Id == this.MapId);
        await base.OnInitializedAsync();
    }
}
