@page "/setup"

@if (this.ShowInstall)
{
    <Install InstallationFinished="() => this.ShowInstall = false" />
}
else if (!this.SetupService.CanConnectToDatabase)
{
    <p>Trạng thái cơ sở dữ liệu: <span class="badge bg-danger">Không thể kết nối đến cơ sở dữ liệu. Có thể chưa được tạo.</span></p>

    <button class="btn btn-primary" @onclick="this.OnInstallClick">Tạo</button>
}
else if (!this.SetupService.IsInstalled)
{
    <p>Trạng thái cơ sở dữ liệu: <span class="badge bg-warning text-dark">Chưa được tạo</span></p>

    <button class="btn btn-primary" @onclick="this.OnInstallClick">Khởi tạo</button>
}
else if (this.SetupService.IsUpdateRequired)
{
    <p>Trạng thái cơ sở dữ liệu: <span class="badge bg-warning text-dark">Yêu cầu cần cập nhật</span></p>
    <button class="btn btn-primary" @onclick="this.OnUpdateClickAsync">Cập nhật</button>
}
else
{
    <p>Trạng thái cơ sở dữ liệu: <span class="badge bg-success">Đã cập nhật up-to-date.</span></p>
    @if (!this._isDataInitialized)
    {
        <p>Phiên bản trò chơi đã khởi tạo: <span class="badge bg-warning text-dark">Không tìm thấy dữ liệu đã khởi tạo!</span></p>
    }
    else
    {
        <p>Phiên bản trò chơi đã khởi tạo: <span class="badge bg-success">@this._gameClientVersion</span></p>
    }

    <button class="btn bg-warning text-dark" @onclick="this.OnReInstallClickAsync">Cài đặt lại</button>
}
